.container {
	width: 600px;
	margin: 0 auto;
}
.header {
	background-color: darkblue;
	color: white;
	padding: 10px;
}
input[type=submit], button {
	background-color: darkblue;
	color: white;
}


.header a {
	color: lightgrey;
}

.post {
	background-color: lightblue;
	border: 3px solid black;
	border-radius: 5px;
	margin-top: 5px;
	padding: 5px;
	-moz-box-shadow: -1px 3px 12px #000000;
	-webkit-box-shadow: -1px 3px 12px #000000;
	box-shadow: -1px 3px 12px #000000;
}

.post .body {
	background-color: lightgrey;
	border-radius: 3px;
	border: 1px solid gray;
	padding: 4px;
	margin: 3px;
}

.post .comments {
	background-color: white;
	border-radius: 3px;
	padding: 2px;
	margin: 15px;
}


.post .new_comment {
	background-color: white;
	margin: 15px;
}

h1 {
	font-family: helvetica;
}

/*
.comments p{
	transform: skew(-7deg, 1deg) ;
	-webkit-transform: skew(-7deg, 1deg) ;
	-moz-transform: skew(-7deg, 1deg) ;
	-o-transform: skew(-7deg, 1deg) ;
	-ms-transform: skew(-7deg, 1deg) ;
}
*/
.italics {
	font-style: italic;
}

.comments p:nth-child(even){
	background-color: black;
	color: white;
}

