.container{
	width: 600px;
	margin: 0 auto;
}

.post {
	background-color: lightblue;
	border: 3px solid black;
	border-radius: 2px;
	margin-top: 5px;
	padding: 5px;
	-moz-box-shadow: -1px 3px 12px #000000;
	-webkit-box-shadow: -1px 3px 12px #000000;
	box-shadow: -1px 3px 12px #000000;
}

.post .body {
	background-color: lightgrey;
	border-radius: 2px;
	border: 1px solid gray;
}

.post .comments {
	background-color: white;
}


.post .new_comment {
	background-color: white;
}

/*
.comments p{
	transform: skew(-7deg, 1deg) ;
	-webkit-transform: skew(-7deg, 1deg) ;
	-moz-transform: skew(-7deg, 1deg) ;
	-o-transform: skew(-7deg, 1deg) ;
	-ms-transform: skew(-7deg, 1deg) ;
}
*/
.italics {
	font-style: italic;
}

.comments p:nth-child(even){
	background-color: black;
	color: white;
}

